@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@model GeneralSittings;
@{
    ViewData["Title"] = "General Sittings";

}

<style>
    .panel {
        overflow: none
    }

    .data-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .data-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*background-color: #f2f2f2;*/
        padding: 10px;
        border-radius: 5px;
    }

    .data-label {
        font-weight: bold;
        margin-right: 10px;
    }

    .data-value {
        flex-grow: 1;
        text-align: right;
    }

    .general-setttings {
        max-width: 400px
    }
</style>
@if (User.Identity.IsAuthenticated)
        {
            var canAccess = await AuthorizationService.AuthorizeAsync(User, "Permissions.Holidays.Create");
            if (canAccess.Succeeded)
            {
<div class="d-flex justify-content-start m-3 mb-4">
            <a style="background-color: var(--main-color)" class="btn" asp-action="Add"><i class="fa-solid fa-plus"></i> Add New General Sittings</a>
</div>

            }
        }

<div id="holidays-table" class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">

    <div style="background-color: #0d6efd" class="panel-heading templatemo-position-relative">
        <h2 class="text-uppercase text-center">General Sittings</h2>
    </div>

    @if (Model is not null)
    {
        <div class="row">
            <div class="data-container col-md-6 col-sm-12 p-3">
                <h3 class="p-2"><i class="bi bi-plus-slash-minus" style="color:#0d6efd; font-weight:bolder"></i> Increase and discount</h3>
                <div class="data-item">
                    <div class="data-label me-4"><i class="fa-regular fa-clock"></i> OverTime: </div>
                    @if (Model.overTime == 0)
                    {
                        <div class="data-value ms-2"> &nbsp; Nothing</div>
                    }
                    else if (Model.overTime == 1)
                    {
                        <div class="data-value ms-2"> &nbsp; One Hour</div>
                    }
                    else if (Model.overTime == 2)
                    {
                        <div class="data-value ms-2"> &nbsp; Tow Hours</div>
                    }
                    else
                    {
                        <div class="data-value ms-2"> &nbsp; @Model.overTime Hours</div>
                    }
                </div>
                <div class="data-item">
                    <div class="data-label me-4"><i class="fa-regular fa-clock"></i> underTime: </div>
                    @if (Model.underTime == 0)
                    {
                        <div class="data-value ms-2"> &nbsp; Nothing</div>
                    }
                    else if (Model.underTime == 1)
                    {
                        <div class="data-value ms-2"> &nbsp; One Hour</div>
                    }
                    else if (Model.underTime == 2)
                    {
                        <div class="data-value ms-2"> &nbsp; Tow Hours</div>
                    }
                    else
                    {
                        <div class="data-value ms-2"> &nbsp; @Model.underTime Hours</div>
                    }
                </div>
                <h3 class="p-2 mt-2"><i class="fa-solid fa-mug-hot" style="color:#0d6efd"></i> Weekends</h3>

                <div class="data-item">
                    <div class="data-label me-4"><i class="fa-regular fa-calendar-days"></i>  weekend Day1:</div>
                    <div class="data-value">&nbsp; @Model.week_end_Day1</div>
                </div>
                <div class="data-item">
                    <div class="data-label me-4"><i class="fa-regular fa-calendar-days"></i> weekend Day2:</div>
                    <div class="data-value"> &nbsp; @Model.week_end_Day2</div>
                </div>
            </div>
            <div class=" col-md-4 col-sm-12">
                <img class="general-setttings" src="~/images/general settings.gif" alt="settings" title="settings">
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <img class="general-setttings" src="~/images/No data.gif" alt="No data" title="No data">
        </div>
    }
</div>
