

@model HR_System.PAL.ViewModels.LogInVM

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "LogIn";
}

@* <style>
    
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Readex Pro', sans-serif;
    }
    :root{
        --main-color: #0d6efd;
    }
    body {
        background-color: #ffffff;
    }

    .background {
        width: 430px;
        min-height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    .shape:first-child {
        background: linear-gradient( #dddddd, #d5f8e5 );
        left: -17%;
        top: -25%;
    }

    .shape:last-child {
        background: linear-gradient( to right, #dddddd, #d5f8e5 );
        right: -17%;
        bottom: -23%;
    }

    form {
        min-height: 520px;
        width: 400px;
        background-color: rgb(212,251,228,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }

        form * {
            font-family: 'Poppins',sans-serif;
/*             color: #1b2e35;
 */            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 800;
            line-height: 42px;
            text-align: center;
        }

    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        border: 2px solid var(--main-color);
        border-radius: 60px;
    }

    .check {
        width: 15px;
        height: 15px;
        margin: 5px;
    }

    .check-label {
        display: flex;
    }

    ::placeholder {
        color: var(--main-color);
    }

    button {
        margin-top: 30px;
        width: 100%;
/*         background-color: var(--main-color) !important;
        color: #fff !important; */
        font-size: 18px;
        font-weight: 600 !important;
        border-radius: 30px;
        cursor: pointer;
    }

    .text-danger{
        color: red
    }

    h3{
        color: var(--main-color);
    }

    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

</style>
<body dir="ltr" class="gradient-custom">
    <div class="background ">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="LogIn" class="bg-dark">
        <h3 class="text-white">Login</h3>
        <p class="text-white-50 mb-4 mx-2">Please enter your login and password!</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div data-mdb-input-init class="form-outline form-white mb-4" >
            <input asp-for="userName" class="form-control form-control-lg" placeholder="Username" />
            <span asp-validation-for="userName" class="text-danger"></span>
        </div>
        <div data-mdb-input-init class="form-outline form-white mb-4">
            <input asp-for="password" class="form-control form-control-lg" placeholder="Password" />
            <div class="d-flex justify-content-between">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group form-check my-3">
            <label class="check-label">
                <input type="checkbox" class="check" asp-for="rememberMe" />  <span class="text-white mx-2">Remember me</span>
            </label>
        </div>

@*         <button type="submit" class="btn rounded-pill">Login</button> *@

@*         <div class="text-white text-center">
            <p class="small pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
            <div class="d-flex justify-content-center text-center pt-2 ">
                <a href="#!"><i class="bi bi-facebook bi-lg mx-4 px-2 text-white"></i></a>
                <a href="#!"><i class="bi bi-twitter bi-lg mx-4 px-2 text-white"></i></a>
                <a href="#!"><i class="bi bi-google bi-lg mx-4 px-2 text-white"></i></a>
            </div>
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 rounded-pill" type="submit">Login</button>


        </div>

    </form> 
</body>  *@


<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
background-size:cover;
background-position-y:center;
        height: 400px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary py-3" style="
        margin-top: -200px;
        backdrop-filter: blur(30px);
         background-color: rgba(256, 256, 256, 0.3);>
        <div class="card-body py-5 px-md-5 " ">

            <div class="row d-flex justify-content-center" >
                <div class="col-lg-8">
                    
                    <form asp-action="LogIn">
                        <h2 class="fw-bold mb-3 text-primary">Login</h2>
                        <p class=" mb-4 mx-2">Please enter your login and password!</p>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Username input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" asp-for="userName">Username</label>
                            <input asp-for="userName" class="form-control form-control-lg" placeholder="Username" />
                            <span asp-validation-for="userName" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" asp-for="password">Password</label>
                            <input asp-for="password" class="form-control form-control-lg" placeholder="Password" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center f-bold mb-4">
                            <input type="checkbox" class="orm-check-input me-2" asp-for="rememberMe" checked />
                            <label class="form-check-label mx-2">Remember me </label>
                        </div>

                        <!-- Submit button -->
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-lg px-5 col-12 rounded-pill" type="submit">Login</button>

                        <!-- Register buttons -->
                        <div class="text-center pt-3">
                            <p>or sign up with:</p>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-facebook"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-google"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-twitter"></i>
                            </button>

                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                <i class="bi bi-github"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->


