@inject IAuthorizationService AuthorizationService

@using HR_System.ViewModel;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Groups";
    var x = 0;
}

<style>
    .no-data {
        max-width: 400px
    }
</style>

<div class="templatemo-content-container " dir="ltr">
    <div class="templatemo-content-widget white-bg">
        <h2 class="margin-bottom-10" dir="ltr">Group Management</h2>
        <p dir="ltr"> Groups From <a href="#groups" target="_parent">Here</a></p>
        @if (User.Identity.IsAuthenticated)
        {
            var canAccess = await AuthorizationService.AuthorizeAsync(User, "Permissions.Roles.Create");
            if (canAccess.Succeeded)
            {
        <div class="panel panel-default no-border mb-5">
            <div class="panel-heading border-radius-10" style="background-color: var(--main-color)">
                <h2 dir="ltr">Add Group</h2>
            </div>
            <div class="panel-body ">
                <partial name="_RoleForm" model="new RoleFormVM()" />
            </div>
        </div>

            }
        }
        <div class="panel panel-default no-border">
            <div id="groups" class="panel-heading border-radius-10" style="background-color: var(--main-color)">
                <h2 dir="ltr">Groups</h2>
            </div>
            <div class="panel-body">
                @if (Model.Count() != 0)
                {
                    <table class="table table-striped table-bordered table-hover mt-4">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Group Name</th>
                                <th class="text-center">Roles</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <th class="text-center">@( ++x )</th>
                                    <th class="text-center">@role.Name</th>
                                    <th class="text-center">
                                        <a style="background-color: var(--main-color)" class="btn" asp-action="ManagePermissions" asp-route-roleID="@role.Id">Manage Permissions</a>
                                    </th>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <img class="no-data" src="~/images/No data.gif" alt="There are no groups" title="There are no groups">
                    </div>
                }
            </div>
        </div>
        
    </div>
    
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
