@{
    ViewData["Title"] = "The HRMS";
}

<style>
    .parent {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Center the content horizontally */
    .content {
        min-width: 300px;
        width: 800px; /* Increased width */
        max-width: 90%; /* Adjusted maximum width */
        background-color: #fff;
        border-radius: 10px;
        margin-left:230px;
        padding: 40px; /* Increased padding */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow */
        text-align: center; /* Center text horizontally */
    }

    /* Style the text and image */
    .content h1 {
        color: #0d6efd;; /* Changed color to blue */
        font-size: 30px; /* Increased font size */
        margin-bottom: 20px;
    }

    .content p {
        font-size: 18px; /* Increased font size */
        margin-bottom: 20px; /* Added margin bottom */
    }

    .content img {
/*         width: 400px; /* Increased width */
 */        height: auto;
        margin: 0 auto; /* Center image horizontally */
        display: block;
    }
</style>

<div class="parent">
    <div class="content">
        <h1>Welcome to the HRMS</h1>
        <img src="/images/Hr123.jpg" class="card-img-top aspect-ratio-content" alt="Home page" title="Home page">
    </div>
</div>
